{% include "../_header.html" %}
    <link href="/admin.css" rel="stylesheet" type="text/css">
    <title>billionaire/admin</title>
</head>
<body>
    <div class="navbar_logo">
        <i class="fa-solid fa-screwdriver-wrench"></i>
        <a href="/admin">Admin page</a>
    </div>
   
    <div class="admin_profile">
        <h1>회원정보 수정</h1>
        <form method="post" action="/admin/update">
            <input type="hidden" name="useridx" value="{{useridx}}">
            <ul>
                <li>
                    <span>회원등급 : </span>
                    <input type="radio" name="userlevel" id="level1" value="{{userlevel}}">
                    <label for="level1">level1 (일반)</label>
                    <input type="radio" name="userlevel" id="level2" value="{{userlevel}}">
                    <label for="level2">level2 (관리자)</label>
                    <input type="radio" name="userlevel" id="level3" value="{{userlevel}}">
                    <label for="level3">level3 (최고관리자)</label>
                </li>
                <li>
                    <span>아이디 : </span> <input value={{user.id}}/>
                </li>
                <li>
                    <span>이름 : </span> <input value={{user.name}} />
                </li>
                <li>
                    <span>성별 : </span> <input value={{user.gender}} />
                </li>
                <li>
                    <span>생년월일 : </span> <input type="datetime-local" value={{user.birth}}  /> 
                </li>
                <li>
                    <span>핸드폰번호 : </span><input value={{user.mobile}}  />
                </li>
            </ul>
            <input type="submit" value="회원정보 수정완료" id="updatebtn">
        </form>
        <form method="post" action="/admin/delete">
            <input type="submit" value="이용중지" id="dropbtn">
        </form>
    </div>
</body>
</html>
