{% include "../_header.html" %}
    <link href="/admin.css" rel="stylesheet" type="text/css">
    <title>billionaire/admin</title>
</head>




<body>
    
{% if user.userlevel===1 %}

<div>
    <div class="navbar_logo">
        <i class="fa-solid fa-screwdriver-wrench"></i>
        <a href="/admin">Admin page</a>
        <a href="/">Go to main page</a>
    </div>
    <div>
       최고관리자 {{ user.id }} 님 어서오세요.
    </div>


    <div class="admin">
      <h1>Member list</h1>
        <table class="table table-sm table-hover">
            <thead>
               <tr>
                   <th>회원번호</th>
                   <th>회원아이디</th>
                   <th>회원이름</th>
                   <th colspan="2">회원등급  /  등급수정</th>
               </tr>
            </thead>
             <tbody>
               {% for item in result %}
               <tr>
                    <td class="text-center">{{item.useridx}}</td>
                    <td>{{item.nickname}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.userlevel}}</td>
                    <td><a class="btn btn-danger btn-sm" href={{item.button}}>등급수정</a></td>
               </tr>
               {% endfor %}
             </tbody>
         </table>
    </div>

    <div class="board">
        <h1>Board</h1>
        <table>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
                <th >조회수</th>
                {% if user.userlevel==1 %}
                <th colspan="2">Editor</th>
                {% endif %}

              
            </tr>
       
            {% for item in boardData %}
            <tr> 
                <td>{{item.idx}}</td>
                <td><a href="/board/view?idx={{item.idx}}">{{item.subject}}</a></td>
                <td>{{item.nickname}}</td>
                <td>{{item.date}}</td>
                <td>{{item.hit}}</td>

                {% if user.userlevel==1 %}
                <td><a>수정</a></td>
                {% endif %}

                {% if user.userlevel==1 %}
                <td>
                    <form method="post" action="/admin/post-delete">
                        <input name="userlevel" value={{user.userlevel}} style="display: none;"/>
                        <input name="idx" value={{item.idx}} style="display: none;"/>
                        <input type="submit" value="삭제" />

                    </form>
                </td>
                {% endif %}
             
            </tr>
            {% endfor %}
          

        </table>

    </div>


</div>
{% else %}
<div>메인페이지이동</div>
{% endif %}


</body>
<script src="../../front-js/admin.js"></script>
</html>