{% include "../_header.html" %}
    <link href="/admin.css" rel="stylesheet" type="text/css">
    <title>billionaire/admin</title>
</head>
<body>
    <div class="navbar_logo">
        <i class="fa-solid fa-screwdriver-wrench"></i>
        <a href="/">Admin</a>
    </div>
    <div class="admin">
        <table>
            <thead>
               <tr>
                   <th>회원번호</th>
                   <th>회원아이디</th>
                   <th>회원이름</th>
                   <th colspan="2">회원등급</th>
               </tr>
            </thead>
             <tbody>
               {% for item in result %}
               <tr>
                    <td>{{item.useridx}}</td>
                    <td>{{item.nickname}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.userlevel}}</td>
                    <td><a href={{item.button}}>등급수정</a></td>
               </tr>
               {% endfor %}
             </tbody>
         </table>
    </div>
</body>

</html>