<nav class="navbar">
    <div class="navbar_logo">
        <i class="fa-solid fa-comments-dollar"></i>
        <a href="/">billionaire</a>
    </div>
    <ul class="navbar_menu">
        <li><a href="https://github.com/yjleeinkr/TeamProject">ABOUT US</a></li>
        <li><a href="/board/list">BOARD</a></li>
        <li id="user"><a href="/user/login">MEMBERS</a>
            <ul class="snb">
                <li><a href="/user/join">JoinUs</a></li>
                {% if user %}
                <li><a href="/user/logout">Logout</a></li>
                {% elseif result %}
                <li><a href="/user/logout">Logout</a></li>   
                {% else %}
                <li><a href="/user/login">Login</a></li>
                {% endif %} 
                <li><a href="/user/profile">Profile</a></li>
            </ul>
        </li>
    </ul>
    <div class="navbar_link">
        <a href="https://finviz.com/map.ashx?t=sec"><i class="fa-solid fa-arrow-trend-up"></i></a>
        <a href="https://upbit.com/home"><i class="fa-solid fa-coins"></i></a>
    </div>
</nav>
<script src="../front-js/main.js"></script>