{% include "./_header.html" %}
    <link href="/style.css" rel="stylesheet" type="text/css">
    <title>billionaire</title>
</head>
<body>
    {% include "./_navbar.html" %}
    <div class="leftSlider">
        <button id="prebtn"><i class="fa-solid fa-chevron-left"></i></button>
        <button id="nextbtn"><i class="fa-solid fa-chevron-right"></i></button>
         <div class="slide">
           <img src="../img/visual-karsa-8FnfTaMgI0E-unsplash.jpg">
            <span>
                Discount Event <br>
                지금 가입 시 3개월 무료!
            </span>
        </div>
        <div class="slide">
            <img src="../img/art-rachen-faIETZlWHLI-unsplash.jpg">
             <span>
                 2022 멤버쉽 할인 <br>
                 지금 가입하세요!
             </span>
         </div>
         <div class="slide">
            <img src="../img/avinash-kumar-9Mzkx7bH_Hk-unsplash.jpg">
             <span>
                 2022 멤버쉽 할인 <br>
                 지금 가입하세요!
             </span>
         </div>
    </div>
    <div class="rightbg">
        <img src="../img/shoeib-abolhassani-ukDEbYnyDsU-unsplash.jpg">
    </div>
    <div id="bannerwrap">
        <div class="banner">
            <span>WELCOME</span>
            <span>$</span>
            <span>LET'S</span>
            <span>GO</span>
            <span>TO</span>
            <span>THE</span>
            <span>MOON</span>
            <span>WITH</span>
            <span>US</span>
            <span>$</span>
            <span>billionaire</span>
        </div>
    </div>
</body>
</html>
<script src="../front-js/main.js"></script>