{% include "./_header.html" %}
    <link href="/style.css" rel="stylesheet" type="text/css">
    <title>billionaire</title>
</head>
<body>
    {% include "./_navbar.html" %}
    <div class="leftSection">
        <input type="radio" name="slide" id="slide01" checked>
        <input type="radio" name="slide" id="slide02">
        <input type="radio" name="slide" id="slide03">
        <div class="slidewrap">
            <ul class="slidelist">
                <li>
                    <a>
                        <label for="slide03" class="left"></label>
                        <img src="../img/visual-karsa-8FnfTaMgI0E-unsplash.jpg">
                        <span>Discount Event<br>
                              지금 가입하면 한달 무료<br>
                              놓치지마세요!
                        </span>
                        <label for="slide02" class="right"></label>
                    </a>
                </li>
                <li>
                    <a>
                        <label for="slide01" class="left"></label>
                        <img src="../img/avinash-kumar-9Mzkx7bH_Hk-unsplash.jpg">
                        <label for="slide03" class="right"></label>
                    </a>
                </li>
                <li>
                    <a>
                        <label for="slide02" class="left"></label>
                        <img src="../img/jeremy-bezanger-8zBi9ktYaX8-unsplash.jpg">
                        <label for="slide01" class="right"></label>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="rightbg">
        <img src="../img/shoeib-abolhassani-ukDEbYnyDsU-unsplash.jpg">
    </div>
    <div class="banner">
        <span>WELCOME</span>
        <span>$</span>
        <span>LET'S</span>
        <span>GO</span>
        <span>TO</span>
        <span>THE</span>
        <span>MOON</span>
        <span>WITH</span>
        <span>US</span>
        <span>$</span>
        <span>billionaire</span>
    </div>
    {% if user %}
    <div class="connection">
        {{user.id}}님 접속 중
    </div>
    {% else %}
    {% endif %}
</body>
<!-- <script src="../front-js/main.js"></script> -->
</html>