{% include "../_header.html" %}
    <link href="/user_style.css" rel="stylesheet" type="text/css">
    <title>billionaire/join</title>
</head>
<body>
    {% include "../_navbar.html" %}
    <!-- 회원가입페이지 -->
    <div class="join">
        <h1>회원가입</h1>
    <form method="post" action="/user/join">
        <input type="hidden" name="useridx" value="{{useridx}}">
        <input type="hidden" name="userlevel" value="3">
        <ul class="joinbox">
            <li>
                <span>아이디</span>
                <input type="text" name="id">
            </li>
            <li>
                <span>비밀번호</span>
                <input type="password" name="pw">
            </li>
            <li>
                <span>이름</span>
                <input type="text" name="name">
            </li>
            <li>
                <span>닉네임</span>
                <input type="text" name="nickname">
            </li>
            <li id="birth">
                <span>생년월일</span>
                <select id="year" name="birth_year">
                    <option>선택하세요</option>
                </select>
                <select id="month" name="birth_month">
                    <option>선택하세요</option>
                </select> 
                <select id="day" name="birth_day">
                    <option>선택하세요</option>
                </select>
            </li>
            <li id="gender">
                <span>성별</span>
                <input type="radio" name="gender" id="male" value="M">
                <label for="male">남자</label>
                <input type="radio" name="gender" id="female" value="F">
                <label for="female">여자</label>
            </li>
            <li id="phone">
                <span>전화번호</span>
                <input type="text" name="phone" maxlength="11" placeholder="'-'는 제외하고 입력해주세요">
            </li>
            <li id="mobile">
                <span>핸드폰번호</span>
                <input type="text" maxlength="11" name="mobile" placeholder="'-'는 제외하고 입력해주세요">
            </li>
        </ul>
        <input type="submit" value="회원가입" id="submitBtn">
    </form>
</div>
</body>
</html>
<script src="../../front-js/join.js"></script>