:root{
    --text1-color: #000000;
    --text2-color: #fafafa;
    --background1:#373737;
    --background2:#e8eaf6;
    --background3:#b6b8c3;
    --accent2-color:#560027;
    --accent3-color:#76ff03;
}

body{
    font-family: 'Fjalla One', sans-serif;
    margin:0;
    width:100%;
    height:100%;
    cursor:url("../img/free-icon-cursor-99183.png"),auto;
    overflow: hidden;
}

ul,li{
    padding:0;
    margin:0;
    list-style:none;
}

a{
    text-decoration: none;
    color:var(--text1-color);
    cursor:url("../img/free-icon-cursor-99188.png"),auto;
}

/* main page menu 구성 */

.navbar > .navbar_logo{
    padding:30px;
    font-size: 45px;
    font-weight:700;
    position:absolute;
    z-index:50;
    top:0px;
    left:0px;
}

.navbar > .navbar_logo i{
    color:var(--accent2-color)
}

.navbar{
    display: flex;
    justify-content:flex-end;
    height:120px;
    font-weight: bold;
    padding-right:30px;
}

.navbar_menu{
    display: flex;
    z-index:50;
}

.navbar_menu > li{
    padding: 40px;
    font-size: 35px;
}

.navbar_menu > li:hover > a{
    color:var(--accent2-color)
}

.navbar_menu .snb{
    padding-top:0.5em;
    display: none;
}

.navbar_menu .snb > li{
    padding:0.5em;
}

.snb.on{
    display:block;
}

.snb > li > a:hover{
    color:var(--accent3-color)
}

.navbar_link{
    padding: 1em;
    font-size: 2.5rem;
    z-index:50;
}

.navbar_link a:hover{
    color:var(--accent3-color);
}


/* 왼쪽 슬라이드 구성 */

.leftSection{
    position:absolute;
    top:0;
    z-index:40;
}

.leftSection input[id*="slide"]{
    display:none;
}

.leftSection .slidewrap{
    max-width:40%;
    overflow:hidden;
}

.leftSection .slidelist{
    white-space:nowrap;
    font-size:0;
}

.leftSection .slidelist > li{
    display:inline-block;
    vertical-align:middle;
    width:100%;
    transition:all .5s;
}

.leftSection .slidelist > li > a{
    display:block;
    position:relative;
}

.leftSection .slidelist > li > a span{
    position:absolute;
    display: block;
    bottom:30px;
    left:30px;
    color:#000000;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Noto Serif KR', serif;
}

.leftSection .slidelist > li > a img{
    width:100%;
    height:100vh;
}

.leftSection .slidelist label{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    padding:20px;
    cursor:pointer;
}

.leftSection .slidelist .left{
    left:30px;
    background:url('../img/left-arrow.png') center center / 100% no-repeat;
}

.leftSection .slidelist .right{
    right:30px;
    background:url('../img/right-arrow.png') center center / 100% no-repeat;
}

.leftSection [id="slide01"]:checked ~ .slidewrap .slidelist > li {transform:translateX(0%);}
.leftSection [id="slide02"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-100%);}
.leftSection [id="slide03"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-200%);}

/* 오른쪽 배경 */
.rightbg{
    position: absolute;
    top:0px;
    transform:translateX(0px);
    width:30%;
    z-index:15;
}

.rightbg > img{
    display: block;
    height:20%;
}

.rightbg.goRight{
    transform:translateX(80%);
    transition:all 1s;
}

/* 아래 쪽 배너 */

.banner {
    position:absolute;
    width:100%;
    height:100px;
    bottom:0;
    z-index:30;
    line-height:100px;
    overflow: hidden;
    white-space: nowrap;
    animation-name: bannermove;
    animation-duration:15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes bannermove{
    0% {transform:translateX(0%);}
    100% {transform:translatex(50%)}
}

.banner span{
    font-size:4.5rem;
    font-weight:bold;
    margin:10px;
}

.connection{
    background-color: var(--text1-color);
    color:var(--text2-color);
    box-shadow: 5px 5px 10px var(--text1-color);
    border-radius: 10px;
    padding:10px 20px;
    position:absolute;
    top:120px;
    right:2%;
    font-size: 15px;
    font-family: 'Noto Serif KR', serif;
    z-index:200;
}

