:root{
    --text1-color: #000000;
    --text2-color: #fafafa;
    --background1:#373737;
    --background2:#e8eaf6;
    --background3:#b6b8c3;
    --accent2-color:#560027;
    --accent3-color:#76ff03;
}

body{
    font-family:'Fjalla One', sans-serif;
    margin:0;
    width:100%;
    cursor:url("../img/free-icon-cursor-99183.png"),auto;
}

ul,li{
    padding:0;
    margin:0;
    list-style:none;
}

a{
    text-decoration: none;
    color:var(--text1-color);
    cursor:url("../img/free-icon-cursor-99188.png"),auto;
}

.navbar > .navbar_logo{
    padding:40px;
    font-size: 40px;
    font-weight:700;
    position:absolute;
    z-index:30;
    top:0px;
    left:0px;
}

.navbar > .navbar_logo i{
    color:var(--accent2-color)
}

.navbar{
    display: flex;
    justify-content:flex-end;
    height:130px;
    font-weight: bold;
    padding-right:30px;
}

.navbar_menu{
    display: flex;
    z-index:50;
}

.navbar_menu > li{
    padding: 40px;
    font-size: 35px;
}

.navbar_menu > li:hover > a{
    color:var(--accent2-color)
}


.navbar_menu .snb{
    padding-top:0.5em;
    display: none;
}

.navbar_menu .snb > li{
    padding:0.3em;
}

.snb.on{
    display:block;
}

.snb > li > a:hover{
    color:var(--accent3-color)
}

.navbar_link{
    padding: 1em;
    font-size: 2.5rem;
    z-index:50;
}

.navbar_link a:hover{
    color:var(--accent3-color);
}

/* 회원가입 */

.join{
    width:40%;
    height:600px;
    margin:0 auto;
    margin-top:30px;
    padding:7px 14px;
    border:solid 2px var(--background1);
    box-shadow: 5px 5px 5px var(--background1);
    border-radius: 10px;
    font-family: 'Noto Serif KR', serif;
}

.join > h1{
    text-align: center;
}

.joinbox{
    padding-left:10px;
}

.joinbox li{
    font-size:20px;
    padding-bottom:20px;
}

.joinbox span{
    display:inline-block;
    width:20%;
}

.joinbox li input{
    font-size : 20px;
    height:25px;
    width:75%;
    border:solid 1px var(--background2);
}

.joinbox li input:focus{
    outline: none;
}

.joinbox #birth select{
    width:20%;
    font-size: 17px;
    font-family: 'Noto Serif KR', serif;
    border:solid 1px var(--background2);
}

.joinbox #gender input{
    width:5%;
    height:17px;
}

.joinbox #phone input{
    width:40%;
    font-size: 17px;
    font-family: 'Noto Serif KR', serif;
}

.joinbox #mobile input{
    width:40%;
    font-size: 17px;
    font-family: 'Noto Serif KR', serif;
}

#submitBtn{
    width: 50%;
    height:50px;
    font-size: 20px;
    transform: translateX(50%);
    font-family: 'Noto Serif KR', serif;
    border: none;
}

#submitBtn:hover{
    background-color: var(--accent3-color);
}

/* 로그인 */

.login{
    width:30%;
    height:550px;
    margin:0 auto;
    margin-top:30px;
    padding:7px 14px;
    border:solid 2px var(--background1);
    box-shadow: 5px 5px 5px var(--background1);
    border-radius: 10px;
    font-family: 'Noto Serif KR', serif;
}

.login > h1{
    margin-top:50px;
    text-align: center;
}

.loginbox{
    margin-top:60px;
}

.loginbox li{
    font-size:20px;
    padding-bottom:20px;
}

.loginbox li input{
    font-size : 40px;
    width:95%;
    border:solid 1px var(--background2);
    font-family: 'Noto Serif KR', serif;
    padding-left:20px;
}

.loginbox li input:focus{
    outline: none;
}


#loginBtn, button {
    margin-top:20px;
    width: 100%;
    height:60px;
    font-size: 20px;
    font-family: 'Noto Serif KR', serif;
    border: none;
}

#loginBtn:hover{
    background-color: var(--accent3-color);
}

button{
    margin-top:20px;
    background-color:var(--text1-color);
}

button > a{
    color:var(--text2-color);
}

button:hover a{
    color:var(--accent3-color);
}

/* 웰컴페이지 */
#moneyshower{
    z-index: 1;
    width:100%;
    overflow-x: hidden;
}

#welcome{
   position: absolute;
   top:0;
   margin: 20px 40px;
}

#welcome > h1{
    font-size: 80px;
    margin:0px;
    text-align: center;
}

#welcome > h2, h3{
    font-family: 'Noto Serif KR', serif;
    padding-left: 20px;
}

.welcomeProfile li{
    padding-top:10px;
    font-size: 20px;
    font-family: 'Noto Serif KR', serif;
}

.welcomeProfile li span{
    display: inline-block;
    width:105px;
    text-align: end;
    font-weight: 700;
    padding-right:15px;
}

#goback{
    font-family: 'Noto Serif KR', serif;
    font-size: 30px;
    font-weight: 700;
    position:absolute;
    top:-5%;
    text-align: center;
    left:45%;
    background-color: var(--text1-color);
    padding:10px 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px var(--text1-color)
}

#goback > a{
    color:var(--text2-color);
    padding:0px;
}

#goback > a:hover{
    color:var(--accent3-color)
}

#goback.down{
    transform:translateY(50%);
    transition:all 0.7s;
}